<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CIDeploy.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <CIDeploy.Properties.Settings>
            <setting name="NugetFolder" serializeAs="String">
                <value>NUGET FOLDER TO COPY PACKAGE TO LOCAL OR UNC</value>
            </setting>
            <setting name="OctopusServerUrl" serializeAs="String">
                <value>OCTOPUS DEPLOY URL</value>
            </setting>
            <setting name="OctopusAPIKey" serializeAs="String">
                <value>OCTOPUS API KEY</value>
            </setting>
            <setting name="DefaultDeployEnviroment" serializeAs="String">
                <value>LEAVE THIS BLANK TO JUST ADD PACKAGE. ENTER A ENRIVOMENT HERE TO AUTO DEPLOY TO</value>
            </setting>
        </CIDeploy.Properties.Settings>
    </applicationSettings>
</configuration>